
ParcelLED/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParcelLED/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ParcelLED/obj/Debug/ParcelLED.csproj.FileListAbsolute.txt
ParcelLED/obj/Debug/ParcelLED.csproj.GenerateResource.cache
ParcelLED/obj/Debug/ParcelLED.csprojAssemblyReference.cache
ParcelLED/obj/Debug/ParcelLED.exe
ParcelLED/obj/Debug/ParcelLED.Form1.resources
ParcelLED/obj/Debug/ParcelLED.pdb
ParcelLED/obj/Debug/ParcelLED.Properties.Resources.resources
.vs/ParcelLED/v16/.suo
.vs/ParcelLED/v16/Server/sqlite3/db.lock
.vs/ParcelLED/v16/Server/sqlite3/storage.ide
.vs/ParcelLED/v16/Server/sqlite3/storage.ide-shm
.vs/ParcelLED/v16/Server/sqlite3/storage.ide-wal
